article {
    font-size: 18px;
    line-height: 1.6;
}

article h2 {
    font-size: 24px;
}

article p, article summary, article ul, article ol {
    font-family: 'Latin Modern Roman', serif;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.6; /* Improves spacing */
    word-spacing: 0.1em; /* Reduces excessive gaps */
}



article .meta {
    font-family: 'Inter';
}

article .tags {
    margin-top: 10px;
}

.cover-img {
    max-width: 100%;
    height: auto;
    display: block;
}
